<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>[입력]</p>

    <form action="/print">
        <p>URL</p>
        <input type="text" name="urlToParse" id="urlToParse">

        <p>Type</p>
        <select name="parserType" id="parserType">
            <option value="EXCEPT_FOR_HTML">HTML 태그 제외</option>
            <option value="ALL_TEXT">Text 전체</option>
        </select>

        <p>출력 단위 묶음</p>
        <input type="text" name="outputUnit" id="outputUnit">

        <div>
            <input type="submit" value="출력">
        </div>
    </form>

    <p>[출력]</p>
    <p>몫 : </p>
    <p th:text="${quotients} ?: 'none'"></p>
    <p>나머지 : </p>
    <p th:text="${remainder} ?: 'none'"></p>
</body>
</html>